#addItem{
  background-color: rgb(4, 158, 253);
  color: rgb(249, 249, 249);
  font-size:15px;
  border-style:none;
  height:22px;
  width:22px;
  border-radius: 4px;
}
#addItem:hover{
  cursor: pointer;
}

#clearItems{
  background-color: rgb(253, 4, 41);
  color: rgb(249, 249, 249);
  border-style:none;
  height:22px;
  width:50px;
  border-radius: 4px;
}

#clearItems:hover{
  cursor: pointer;
}

#inputBar{
  padding-left:2px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius: 4px;
}

ul{
 margin-top: 5px;
 margin-left: -10px;
}
li{
  list-style: none;
}
