button{
  border-radius: 4px;
  cursor: pointer;
  color: rgb(249, 249, 249);
  height:22px;
  border-style:none;
}

#addItem{
  background-color: rgb(4, 158, 253);
  font-size:15px;
  width:22px;
}

#clearItems{
  background-color: rgb(253, 4, 41);
  width:50px;
}

#submitBTN{
  margin-top: 10px;
  background-color: green;
}


#inputBar{
  padding-left:5px;
  padding-top:2px;
  padding-bottom:2px;
  border-radius: 4px;
}



ul{
 margin-top: 0px;
 margin-left: -35px;
}
li{
  list-style: none;
}

.container{
  width:200px;
  height:200px;
  background-color: rgb(210, 208, 208);
  margin-top: 10px;
  border-radius: 5px;
}





